{% extends "mysite/base.html" %}
{% load static %}


{% block content %}
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="{% static 'nature/img/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass.jpg' %}" alt="wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass" width="1000" height="600" type="image/jpeg" class="responsive" 
            style="opacity: 87%;">


            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Help the Planet</h1>
                <a href="https://www.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_11342065.htm#query=nature&position=0&from_view=keyword&track=sph" class="link-color">Image by wirestock</a> on Freepik
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'nature/img/ian-parker-ihByWVBKIPY-unsplash.jpg' %}" 
                alt="Penguins" width="1000" height="600" type="image/jpeg" class="responsive" >
            <div class="container">
              <div class="carousel-caption">
                <h1>Help Sustain Biodiversity</h1>
                <p> Photo by <a href="https://unsplash.com/@evanescentlight?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" class="link-color">Ian Parker</a> on <a href="https://unsplash.com/photos/ihByWVBKIPY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" class="link-color">Unsplash</a></p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="{% static 'nature/img/beautiful-nature-scenery-picjumbo-com.jpg' %}" alt="Valley" width="1000" height="600" type="image/jpeg" class="responsive" >

            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Live a Clean and Healthy Life</h1>
                <p> Photo by <a href="https://picjumbo.com/author/viktorhanacek/" class="link-color">Victor Hanacek</a></p>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>


      <div class="container">
        <div class="bg-light p-5 rounded">

          <div class="row">
            <div class="col-md-12">
              <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                  <h1 class="display-5 fw-bold">Help the Environment</h1>

                   <p class="col-md-8 fs-4">There are many ways to help the earth. You can make a difference.</p>
                   <br>

                   <p>The Paris 1.5 degrees C Agreement was made by countries to help battle the effects of climate change.
                   Countries, as part of the agreement, aim to be net-zero in their carbon footprint by the year 2050. This is
                   to reduce the earth warming by more than 1.5 degrees Celsius. Scientists say that a 2 degrees celsius increase will
                   lead to irreparable issues on earth, so the agreement aims to get all the countries in the world to aim for net-zero 
                   emissions to avoid these catastrophic issues.</p>


                   <img src="{% static 'nature/img/MtFuji.jpg' %}" alt="Mount Fuji" width="1000" height="600" type="image/jpeg" class="responsive">
                   <br>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-white bg-dark rounded-3">
                <p class="lead">Take small steps in your life. Each step matters.</p>

                <h2> Ways to help</h2>
                <ol>
                  <li>Plant a tree</li>
                  <li>Reduce, Reuse, Recycle</li>
                  <li>Learn more about environmental issues</li>
                  <li>Spread the word!</li>
                </ol>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Organizations that are making a change</h2>
                <ul>
                  <li><a href="https://davidsuzuki.org/" target="_blank">David Suzuki Foundation</a></li>
                  <li><a href="https://fridaysforfuture.org/" target="_blank">Fridays For Future</a></li>
                </ul>
                
              </div>
               
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">

                  <h2> Information on the Paris Agreement</h2>

                  <p> Countries are aiming to reduce carbon emissions to net-zero, by the year 2050. 
                      Immediate action is needed. Here is some more information.</p>
                  <ul>
                    <li><a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement" 
                      target="_blank">Info on Paris Agreement</a></li>
                  </ul>
                 
                  <br>
                 <!--  <button class="btn btn-primary" role="button">Hello</button> -->

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Current Disasters Around the World</h3>
              <br>
              <p id="disaster_events_1"></p>
              <p id="disaster_events_2"></p>
              <p id="disaster_events_3"></p>
              <p id="disaster_events_4"></p>
              <p id="disaster_events_5"></p>
            </div>
            <a href="https://reliefweb.int/disasters" target="_blank">More Info on Disasters</a>
          </div>
           

        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
          &copy; 2023 Rahul Birla
        </footer>

      </div>
    </main>
   
{% endblock %}